<!DOCTYPE html>
<html>
<head>
    <title>RENT vs BUY</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

    <style>
        #map {
            height: 90vh;
            width: 100%;
        }
    </style>
</head>
<body>

    <h1>Rent vs Buy</h1>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script>
        var map = L.map('map').setView([37.8, -96], 4);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        function formatCostTimeline(costDict) {
            let html = "<b>Cost Timeline:</b><br>";

            const dates = Object.keys(costDict).sort();

            dates.forEach(date => {
                html += `${date}: $${costDict[date].toFixed(2)}<br>`;
            });

            return html;
        }

        const data = {{ data | tojson }};

        data.renters.forEach(d => {
            if (d.latitude && d.longitude) {
                const popupContent = `
                    <b>Renting</b><br>
                    ${d.city}, ${d.state}<br><br>
                    ${formatCostTimeline(d.cost)}
                `;

                L.circleMarker([d.latitude, d.longitude], {
                    color: "blue"
                })
                .addTo(map)
                .bindPopup(popupContent);
            }
            else {
                console.log("Could not make marker for: ", d)
            }
        });

        data.buyers.forEach(d => {
            if (d.latitude && d.longitude) {
                const popupContent = `
                    <b>Buying</b><br>
                    ${d.city}, ${d.state}<br><br>
                    ${formatCostTimeline(d.cost)}
                `;

                L.circleMarker([d.latitude, d.longitude], {
                    color: "red"
                })
                .addTo(map)
                .bindPopup(popupContent);
            }
            else {
                console.log("Could not make marker for: ", d)
            }
        });
    </script>

</body>
</html>